.menu.context {
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
  margin: 0;
  padding: 6px 0;
  position: absolute;
  width: auto !important;

  &:not(.is-dropdown-submenu) {
    display: none;
  }
  
  li {
    position: relative;
    width: 100%;

    &.divider {
      border-bottom: 1px solid #000000;
      margin: 6px 0;
      height: 0;
    }
    span.icon {
      padding-left: 12px;
    }
    small {
      bottom: 3px;
      color: #999999;
      font-size: 0.7em;
      line-height: inherit;
      padding: 0 6px;
      position: absolute;
      right: 0;
      text-align: right;
    }
  }
}

[data-contextmenu-trigger] {
   float: right;
   position: relative;
   top: -6px;
   
   &:after {
     content: "";
     display: table;
     clear: right;
   }
}